<div class="span12">
    <span ng-show="loading"><i class="fa fa-circle-o-notch fa-spin"></i> loading ...</span>
    <br />
    <h1>Live Records and History</h1>
    <span>Displaying ({{users.data.length}}) user(s)</span>
    <table ng-if="users.data.length > 0" class="table table-hover table-condensed table-striped">
        <thead class="levelOne">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Surname</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-ng-repeat="user in users.data track by $index" data-ng-switch on="dataCollapse[$index]">
            <tr title="Click to view history.">
                <td><a href="#" data-ng-click="history($index)">histroy</a></td>
                <td><span ng-if="!user.edit">{{user.Name}}</span>   <input ng-if="user.edit" id="name" type="text"    ng-model="editUser.Name"></td>
                <td><span ng-if="!user.edit">{{user.Surname}}</span><input ng-if="user.edit" id="surname" type="text" ng-model="editUser.Surname"></td>
                <td>{{user.Status}}</td>
                <td>
                    <a ng-if="user.Status == 'None' && !user.edit" href="#" ng-click="edit($index)">edit</a>
                    <a ng-if="user.Status == 'None' && !user.edit" href="#" ng-click="delete(user.Id)">delete</a>
                    <a ng-if="user.edit" href="#" ng-click="save()">save</a>
                    <a ng-if="user.edit" href="#" ng-click="cancel()">cancel</a>
                </td>
            </tr>
            <tr data-ng-switch-when="true">
                <td colspan="8">
                    <div class="span9">
                        <div class="pull-left">
                            <table class="table table-striped">
                                <thead class="levelTwo">
                                    <tr>
                                        <th colspan="4" style="text-align: center;">Request</th>
                                        <th colspan="2" style="text-align: center;">Payload</th>
                                        <th colspan="2"></th>
                                    </tr>
                                    <tr>
                                        <th>Type</th>
                                        <td>Requested On</td>
                                        <td>Actioned On</td>
                                        <th>Status</th>
                                        <th>Name</th>
                                        <th>Surname</th>
                                        <th colspan="2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="workflow in user.Workflows">
                                        <td>{{workflow.Type}}</td>
                                        <td>{{workflow.MakerDateTime}}</td>
                                        <td>{{workflow.ApproverDateTime}}</td>
                                        <td>{{workflow.Status}}</td>
                                        <td>{{workflow.Name}}</td>
                                        <td>{{workflow.Surname}}</td>
                                        <td><a ng-if="workflow.Status == 'Pending'" href="#" ng-click="approve(workflow.Id)">approve</a></td>
                                        <td><a ng-if="workflow.Status == 'Pending'" href="#" ng-click="reject(workflow.Id)">reject</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button ng-enabled="users.data[users.data.length - 1].edit == undefined" ng-click="edit()" style="margin: 15px 15px 15px 0px; line-height: 1.2;">
        <span>New User</span>
    </button>

    <h1>Workflows</h1>
    <span>Displaying ({{userWorkflows.data.length}}) workflow(s)</span>
    <table ng-if="userWorkflows.data.length > 0" class="table table-hover table-condensed table-striped">
        <thead class="levelOne">
            <tr>
                <th colspan="4" style="text-align: center;">Request</th>
                <th colspan="2" style="text-align: center;">Payload</th>
                <th colspan="2"></th>
            </tr>
            <tr>
                <th>Type</th>
                <td>Requested On</td>
                <td>Actioned On</td>
                <th>Status</th>
                <th>Name</th>
                <th>Surname</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="workflow in userWorkflows.data track by $index">
                <td>{{workflow.Type}}</td>
                <td>{{workflow.MakerDateTime}}</td>
                <td>{{workflow.ApproverDateTime}}</td>
                <td>{{workflow.Status}}</td>
                <td>{{workflow.Name}}</td>
                <td>{{workflow.Surname}}</td>
                <td><a ng-if="workflow.Status == 'Pending'" href="#" ng-click="approve(workflow.Id)">approve</a></td>
                <td><a ng-if="workflow.Status == 'Pending'" href="#" ng-click="reject(workflow.Id)">reject</a></td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <br />
    <span>This is an indempotent workflow system. Only a single set of changes at a time.</span>
    <ul>
        <li>Approved Deletes leave the record in owner table and set an archive flag (records are effectively excluded from all queries through Nhibenrate mapping) .</li>
        <li>Create requests dont end up in owner table until they are approved.</li>
        <li>Update requests dont modify the owner until they are approved.</li>
        <li>BL\Workflow contains generic classes for an update, create and delete workflow.</li>
        <li>BL UserWorkflow.cs and User.cs are example payloads</li>
        <li>The Service Layer is injected into the Web Api Controllers.</li>
        <li>I use Fluent NHibernate with SQLLite and specifically the discriminator as a factory to load the correct update, create and delete workflow.</li>
        <li>UI written in Angular and Backend Exposed through WebApi.</li>
    </ul>
    <span>Future Improvements.</span>
    <ul>
        <li>Manage multiple users trying to change record (UI as workflow wont allow it but throws a nasty exception).</li>
        <li>Row level (Upgrade Lock)locking of changes.</li>
        <li>Within a business setting you wouldnt have a maker approving their own changes</li>
    </ul>
</div>
