<div ng-show="pageMode.list">
    <span ng-if="users.length ==0">Displaying ({{users.length}}) users</span>
    <table ng-if="users.length > 0" class="table table-hover table-condensed table-striped">
        <thead class="levelOne">
            <tr>
                <th>Name</th>
                <th>Surname</th>
            </tr>
        </thead>
        <tbody ng-repeat="user in users">
            <tr>
                <td>{{user.Name}}</td>
                <td>{{user.Surame}}</td>
            </tr>
        </tbody>
    </table>
    <a href="#" ng-click="pageMode.setEdit()">New User</a>

    <span ng-if="userWorkflows.data.length == 0">Displaying ({{userWorkflows.data.length}}) pending workflows</span>
    <table ng-if="userWorkflows.data.length > 0" class="table table-hover table-condensed table-striped">
        <thead class="levelOne">
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Status</th>
                <th>Type</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody ng-repeat="workflow in userWorkflows.data track by $index">
            <tr>
                <td>{{workflow.Name}}</td>
                <td>{{workflow.Surname}}</td>
                <td>{{workflow.Status}}</td>
                <td>{{workflow.Type}}</td>
                <td>{{approve($index)}}}</td>
                <td>{{reject($index)}}}</td>
            </tr>
        </tbody>
    </table>
</div>
